EdgyVisualization/[Ll]ibrary/
EdgyVisualization/[Tt]emp/
EdgyVisualization/[Oo]bj/
EdgyVisualization/[Bb]uild/
EdgyVisualization/[Bb]uilds/
EdgyVisualization/Assets/AssetStoreTools*

EdgyVisualization/.vs/

EdgyVisualization/ExportedObj/
EdgyVisualization/.consulo/
EdgyVisualization/*.csproj
EdgyVisualization/*.unityproj
EdgyVisualization/*.sln
EdgyVisualization/*.suo
EdgyVisualization/*.tmp
EdgyVisualization/*.user
EdgyVisualization/*.userprefs
EdgyVisualization/*.pidb
EdgyVisualization/*.booproj
EdgyVisualization/*.svd
EdgyVisualization/*.pdb
EdgyVisualization/*.opendb
EdgyVisualization/*.VC.db

EdgyVisualization/*.pidb.meta
EdgyVisualization/*.pdb.meta

EdgyVisualization/sysinfo.txt

EdgyVisualization/*.apk
EdgyVisualization/*.unitypackage

EdgyVisualization/Assets/StreamingAssets/crashlytics-build.properties
